/* Navigation section */
#navbar{
    flex-direction: row;
}

#navBar ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -300px;
    left: 100px;
    transition: all .5s;
}

#checkbtn, #checkbtn_lebel{
    display:flex;
    position: fixed;
    right: 0px;
    margin: 15px;
    z-index: 2;
    /* justify-content: space-between; */
}

#checkbtn{
    display: none;
}

#checkbtn:checked ~ nav > ul{
    display: flex;
    position: static;
    flex-direction: column;
    top: 0px;
}

/* Home section */
#home{
    padding: 20px;
}

#home h1{
    font-size: 2rem;
    margin: 5px 10spx;
    margin-top: 50px;
}

.all-services{
    border: 3px solid rgb(158, 158, 158);
    border-radius: 35px;
    margin: 5px 10px;
    padding: 20px;
    width: 250px ;

    transition: all .25s ease-out 0s;
}